
*{
	margin: 0;
	padding: 0;
}
nav.navbar{
	margin-bottom: 0px;
}
nav.occho{
	background-color: #0f949a;
}
div.nav-ul{
	margin-top: 10px;
}
span.nav-a{
	font-size: 18px;
	color: black;
	margin: 20px ;
	margin-top: 5px;
	margin-left: 50px;
}
label.nav-a{
	margin-left: 40px ;
}
span.nav-dangky{
	margin-left: 60px;
}
div.con-search{
	margin-top: 0px;
	width: 100%;
	height: 580px;
	background-image: url('../images/background-search.jpg');
	background-size: cover;
	overflow: auto;
	/* opacity: 0.85; */
}
div.search{
	width: 100%;
	height: 175px;
	margin: auto;
	margin-top: 180px;
}
label.text-search{
	font-size: 35px;
	width: 100%;
	text-align: center;
	color: white;
} 
div.input-search{
	width: 1070px;
	height: 60px;
	margin: auto;
	border-radius: 25px;
	border: 1px solid #fff;
    border-radius: 25px;
    background: rgba(0,0,0,.5);
    padding: 13px 25px;
	color: #fff;
	
}
div.guide{
	width: 100%;
	height: 480px;
	background: #e5f6ea;
	overflow: auto;
}
div.guide h1{
	text-align: center;
	margin-top: 30px;
}
div.con-guide{
	width: 100%;
	height: 265px;
	margin-top: 30px;
	/* margin: auto; */
}

div.guide div.step1, div.step2, div.step3, div.step4{
	height: 100%;
	width: 220px;
	float: left;
	margin-left: 60px;
}
div.con-guide img{
	text-align: center;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}
div.guide div.step1{
	margin-left: 90px;
}
div.con-guide h3{
	font-size: 18px;
	text-align: center;
}
div.guide p.continue{
	float: right;
	font-size: 18px;
	margin-right: 15px;
	text-decoration: underline;
}
div.famous-place{
	width: 100%;
	height: 420px;
}

/* CSS for SignUp */
div.signup-con{
	width: 100%;
	height: 750px;
	overflow: auto;
}
div.signup-form{
	width: 462px;
	height: 565px;
	margin: auto;
	margin-top: 80px;
}
div.signup-form h2{
	text-align: center;
}
#password, #repassword, #date, #address{
	float: left;
	width: 200px;
	
}
#repassword, #address{
	float: right;
}
div.checkbox label.policy{
	font-size: 16px;
}
label.label1{
	margin-left: 115px;
	font-size: 16px;
}
.btn-signin{
	width: 100%;
	font-size: 16px;
}
.btn-google{
	width: 45%;
	float: right;
}
.btn-facebook{
	width: 45%;
	float: left;
}
i{
    margin-right: 10px;
}

/* CSS for footer */
footer{
	width: 100%;
	height: 200px;
	background-color: blue;
}

.slick-slider{
	display: block;
	position: relative;
	margin-left: 10%;
	margin-right: 10%;
}
.react-datetime-picker__inputGroup__input{
	color: #fff;
}