
*{
	margin: 0;
	padding: 0;
}
nav.navbar{
	margin-bottom: 0px;
}
div.nav-ul{
	margin-top: 10px;
}
span.nav-a{
	font-size: 18px;
	color: black;
	margin: 20px ;
	margin-top: 5px;
	margin-left: 60px;
}
label.nav-a{
	margin-left: 60px ;
}
span.nav-dangky{
	margin-left: 60px;
}
