.filter{
    width: 30%;
    float: left;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
}
.list{
    padding-top: 60px;
    width: 70%;
    float: left;
    height: auto;
}
.body_screen{
    width: 100%;
    position: absolute;
    background-color: #e8eaef;
    height: auto;
}
.address{
    width: 300px;
    height: 50px;
    box-shadow: 0 0px 10px 0 rgba(31, 28, 38, 0.35);
    border-radius: 5px;
    margin-bottom: 15px;
    background: #fff;
    overflow: hidden;
}