/* import im_background from 'backgroundSearch.jpg'; */
*{
	margin: 0;
	padding: 0;
}
div.con-search{
	margin-top: 0px;
	width: 100%;
	height: 580px;
	/* background-image: url('../images/backgroundSearch.jpg'); */
	background-size: cover;
	overflow: auto;
	/* opacity: 0.85; */
}
div.search{
	width: 100%;
	height: 175px;
	margin: auto;
	margin-top: 180px;
}
label.text-search{
	font-size: 35px;
	width: 100%;
	text-align: center;
	color: white;
} 
div.guide{
	width: 100%;
	height: 480px;
	background: #e5f6ea;
	overflow: auto;
}
div.guide h1{
	text-align: center;
	margin-top: 30px;
}
div.con-guide{
	width: 100%;
	height: 265px;
	margin-top: 30px;
	/* margin: auto; */
}

div.guide div.step1, div.step2, div.step3, div.step4{
	height: 100%;
	width: 220px;
	float: left;
	margin-left: 100px;
}
div.con-guide img{
	text-align: center;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}
div.guide div.step1{
	margin-left: 90px;
}
div.con-guide h3{
	font-size: 18px;
	text-align: center;
}
div.guide p.continue{
	float: right;
	font-size: 18px;
	margin-right: 15px;
	text-decoration: underline;
}
div.famous-place{
	width: 100%;
	height: 420px;
}
