*{
    margin: 0;
    padding: 0;
}
div.car-detail{
    width: 260px;
    height: 260px;
    margin-right: 10px;
}
div.img-car{
    width: 100%;
    height: 195px;
    position: relative;
}
div.img-car img{
    width: 100%;
    height: 100%;
}
div.price-car{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0,161,80,.8);
    color: #fff;
    padding: .25rem .75rem;
    border-top-left-radius: 5px;
    font-weight: 700;
    z-index: 2;
}
div.desc-car{
    width: 100%;
    height: 65px;
}
div.rating{
    width: 100%;
    height: 20px;
}
div.star-rating{
    float: left;
    margin-left: 5px;
}
div.gachnoi{
    width: 10px;
    height: 1px;
    background-color: black;
    float: left;
    margin-left: 10px;
    margin-top: 5%;
}
div.num-trip{
    float: left;
}
div.rating p{
    /* float: left; */
    margin-left: 10px;
    margin-top: 1%;
}
div.nameCar{
    width: 100%;
    height: 30px;
}
div.nameCar h2{
    width: 100%;
    font-size: 18px;
    float: left;
    margin-left: 5px;
}
